language: python

python:
  - "3.9"
  - "3.10"
  - "3.11"
  - "3.12"
  - "3.13"
  - "3.14"

install:
  - pip install -r dev_requirements.txt

script:
  - pylint_runner
  - python -m coverage run -m pytest
  - python -m coverage report
